.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 13vh;
  padding: 0 25px;
}
.logo-and-title-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.logo-title {
  color: #12022f;
  font-size: 18px;
  font-weight: 900;
}
.nav-items-list {
  display: flex;
}
.link-item {
  list-style-type: none;
}
.route-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}
@media only screen and (max-width: 500px) {
  .logo {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  .logo-title {
    font-size: 16px;
    font-weight: 700;
  }
  .route-link {
    font-size: 14px;
    margin-left: 10px;
  }
}